@font-face{
    font-family: "Verdana";
    src: url(/fonts/Verdana.woff2);
}
body{
    background: url(/img/Фон1.png) no-repeat center center fixed;
    background-size: cover;
}
.wrapper{
    font-family: 'Ubuntu', sans-serif;
    margin: 100px auto;
    width: 1366px;
    height: 770px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1366px;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1{
    margin-left: 79px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}
h1:hover{
    color: #01813F;
    cursor: pointer;

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 79px;
}
.nav-bar li{
    margin-right: 27px;
}
.nav-bar a{
    text-decoration: none;
    color: #FFFFFF;
}
#line{
    border-left: solid 1px #fff;
    padding-left: 27px;
    margin-right: auto;
    padding-right: 2px;
}
#line span:hover{
    color: #01813F;
}
.sign-up span:hover{
    color: #01813F;
}
.form-wrapper{
    position: relative;
    margin: 54px auto;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
form{
    width: 324px;
    padding: 31px 60px 38px;
}
.form-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.green-box{
    position: absolute;
    left: 0px;
    top: 29px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.form-header-a1{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    text-decoration: none;
}
.form-header-a2{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;  
    color: #3CB878;
    text-decoration: none;
}
.form-header-a2:hover{
    filter: brightness(50%);
    text-decoration: underline;
}
.form-header-bnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-facebook{
    background: #305DB8;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center; 
    border-radius:3px ;   
}
.btn-facebook:hover{
    background: #022263;
}
.btn-facebook img{
    margin-left: 17px;
    margin-right: 19px;
    border-right: solid 1px rgba(10, 22, 47, 0.1);
    padding-right: 19px;
}
.btn-facebook a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.btn-google{
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    background: #DF4A32;
    border-radius:3px 
}
.btn-google:hover{
    background: #AB1F09;
}
.btn-google img{
    margin-left: 17px;
    margin-right: 19px;
    border-right: solid 1px rgba(10, 22, 47, 0.1);
    padding-right: 7px;
}
.btn-google a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
input{
    margin-bottom: 15px;
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
/* .checkbox{
    width: 20px;
    height: 20px;
} */
.label-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
}
input:active{
    border-style: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
label span{
    color: #3CB878;
}
label span:hover{
    filter: brightness(50%);
    text-decoration: underline;
}
.green-btn{
    width: 324px;
    height: 46px;
    margin-top: 15px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.green-btn:hover{
    background-color: #01813F;
}
#svg{
    fill: #fff;
    width: 23px;
    height: 23px;
}
#svg:hover{
    fill: #01813F;
}
.or{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 31px;
    margin-bottom: 12px;
}
.or p{
    padding-left: 3.5px;
    padding-right: 3.5px;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 20px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 25px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 20px;
    height: 20px;
	background: #fff;
    background: rgba(0, 0, 0, 0.0001);
border: 1px solid #F2F2F2;
/*     border: solid 1px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.2); */
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 5px;
	width: 20px;
	height: 20px;
}
.checkbox:checked + label:before {
	background: #fff;
}
.checkbox:checked + label:after {
    content: '\2713';
    color: #01813F;

}