body{
    font-family: 'Roboto', sans-serif;
}
.page{
    margin: 0 auto;
    margin-top: 200px;
    width: 1366px;
    height: 768px;
    background-image: url(/img/background.png);
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 177px;
    padding-top: 46px;
    padding-bottom: 17px;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-info{
    height: 47px;
}
.logo:hover h1{
    color: #F26522;
}
.logo:hover p{
    color:#F26522;
}
.logo:hover #img-logo{
    color: #F26522;
    background-image:url(/img/logo-hover.png);
}
#img-logo{
    width: 53px;
    height: 47px;
    background-image: url(/img/logo3.svg);
    margin-right: 8px;
}
.logo h1 {
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}
.logo p{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}
.logo-info :hover{
    color: #F26522;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contacts a{
    color: #fff;
    display: block;
}
.email:hover{
    color: #F26522;
}
.tel:hover{
    color: #F26522;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 160px;
    margin-right: 177px;

}
main p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
main a{
    text-decoration: none;
}
footer{
    text-align: center;
}
footer p{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    margin-top: 12px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
span{
    color: #fff;
    padding-left: 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}
.card-1 {
    position: relative;
}
.card-1 :hover+.info-wrap{
    display: block;
}
.card-1 :hover+#qwe{
    color: #F26522;
}
#qwe:hover{
    color: #F26522;
}
#qwe{
    margin: 0;
    padding: 20px 40px 37px;
}
.info-wrap{
    display: none;
    position: absolute;
    top: 167px;
    background-color: #F26522;
    width: 303px;
    height: 55px;
}
.info{
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 14px;
}
.price{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.info a{
    color: #fff;
    text-decoration: none;
    padding-right: 16px;
}
.info a::after{
    content: '\003E';
    width: 5px;
    height: 10px;
    margin-left: 16px;
}
.card-2 p{
    margin-top: 12px;
}