@font-face{
    font-family: "CircleRegular";
    src:url(/fonts/CirceRegular.woff2)
}
@font-face{
    font-family: "Gilam-Regular";
    src: url(/fonts/Gilam-Regular.woff2);
}
.wrap{
    position: relative;
    background: #171717;
    height: 4000px;
    width: 1920px;
    margin: 0 auto;
}
.content{
    width: 1460px;
    margin: 0 auto;
}
header{ 
    padding-top: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 216px;
    height: 33px;
}
.header-phone{
    display: flex;
    align-items: center;
}
.call-back{
    padding: 10px 25px 10px;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
    margin-left: 39px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
}
.call-back img{
    width: 13px;
    height: 13px;
    margin-right: 10px;
}
.number{
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    color: white;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
}
.number span{
    color:#E4B564;
}
h2{
    color: #fff;
    font-size: 50px;
    line-height: 28px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
}
.grid-one{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    /* grid-template-columns:1fr 1fr 1fr 1fr ; */
    grid-gap: 30px;
}
.grid-one-item1{
    grid-area: item1;
    grid-row:1/1;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 467px;
    height: 468px;
    background: #634F2C;
}
.grid-one span{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
}
.grid-one-item2{
    grid-area: item2;
    grid-row: 1/1;
    grid-column:2/4 ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B4A385;
    width: 467px;
    height: 468px;
}
.grid-one-item2 span{
    width: 380px;
    height: 56px;
    text-align: center;
}
.grid-one-item3{
    grid-area: item3;
    grid-row: 1/1;
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E4B564;
    width: 467px;
    height: 468px;
}
.grid-one-item4{
    grid-area: item4;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 715px;
    height: 468px;
    background: #635A4A;
}
.grid-one-item5{
    grid-area: item5;
    grid-row: 2/3;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 715px;
    height: 468px;
    background: #B08C4D;
}
.section-one p{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    width: 1182px;
    height: 56px;
    margin-bottom: 41px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
}
.section-one h2{
    margin-top: 120px;
    margin-bottom: 41px;
}
.section-two{
    margin-bottom: 191px;
}
.section-two h2{
    margin-top: 160px;
    margin-bottom: 90px;
}
.grid-two{
    display: flex;
    justify-content: space-between;
}
.left-column-item1{
    position: relative;
    margin-bottom: 30px;
    width: 467px;
    height: 313px;
    background: #0E0E0E;
}
.left-column-item1 span{
    position: absolute;
    left: 52px;
    top:42px
}
.left-column-item4{
    position: relative;
    width: 467px;
    height: 560px;
    background: #1F1F1F;
}
.left-column-item4 span{
    position: absolute;
    left: 52px;
    top:42px
}
.middle-column-item2{
    position: relative;
    margin-bottom: 30px;
    width: 467px;
    height: 439px;
    background: #242424;
}
.middle-column-item2 span{
    position: absolute;
    left: 52px;
    top:42px
}
.right-column-item3{
    position: relative;
    margin-bottom: 30px;
    width: 467px;
    height: 255px;
    background: #1F1F1F;
}
.right-column-item3 span{
    position: absolute;
    left: 52px;
    top:42px
}
.middle-column-item5{
    position: relative;
    width: 467px;
    height: 405px;
    background: #E4B564;
}
.middle-column-item5 span{
    position: absolute;
    left: 52px;
    top:42px
}
.right-column-item6{
    position: relative;
    margin-bottom: 30px;
    width: 467px;
    height: 313px;
    background: #0E0E0E;
}
.right-column-item6 span{
    position: absolute;
    left: 52px;
    top:42px
}
.right-column-item7{
    position: relative;
    width: 467px;
    height: 277px;
    background: #0A0909;
}
.right-column-item7 span{
    position: absolute;
    left: 52px;
    top:42px
}
.grid-two span{
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
}
.middle-column .grid-two-item5 span{
    color: black;
}
.wrap-section-three{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 1920px;
    background: #0E0E0E;
}
.section-three{
    padding-top: 172px;
    width: 1460px;
}
.third-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 94px;
}
.third-section-header a{
    padding: 10px 25px 10px;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
    margin-left: 39px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
}
.content-three{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.content-three-item1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 487px;
    height: 391px;
    background: #634F2C;
}
.content-three-item2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgba(232, 210, 171, 0.76);
    width: 487px;
    height: 391px;
}
.content-three-item2 p {
    margin-left: 80px;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    width: 326px;
    height: 140px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
}
.content-three-item3{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E4B564;
    width: 487px;
    height: 391px;
}
.content-three-item4{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #635A4A;
    width: 487px;
    height: 391px;
}
.content-three-item5{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B08C4D;
    width: 487px;
    height: 391px;
}
.content-three-item5 a{
    position: relative;
    text-decoration: none;
}
.content-three-item5 span{
    position: absolute;
    top: 11px;
    left: 21px;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
}
.content-three-item6{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #634F2C;
    width: 487px;
    height: 391px;
}