body{
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.wrap{
    background-color: white;
    width: 1480px;
    margin: 100px auto;
}
.content-box{
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 63px;
}
.page-name{
    display: block;
    color:rgb(73, 197, 255);
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    margin-bottom: 38px;
}
.page-name span{
    color: #000000;
}
nav{
    background-color: #35444F;
    height: 72px;
}
.nav-bar{
    display: flex;
    justify-content: center;
}
.nav-item{
    display: flex;
    align-items: center;
    height: 72px;
    border: 1px solid #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
}
.nav-item a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
}
.nav-item:nth-child(2):hover{
    background: #222F3A;
}
section{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
aside{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 344px;
    height: 400px;
    margin-right: 52px;
    border: 1px solid #35444F;
}
.aside-nav a{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 44px;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    text-decoration: none;
}
.aside-hover:hover{
    color: #000000;
    background-color: #DBDBDB;
    padding-right: 17px;
    padding-left: 75px;
}

main{
    width: 885px;
}
.image{
    border: 1px solid #000000;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;

}
p {
    margin-top: 35px;
    width: 885px;
    height: 120px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer-bar{
    width: 875px;
    padding-left: 40px;
    display: flex;
    justify-content: space-around;
}
footer span{
    padding-right: 40px;
}
.footer-bar a{
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}
.footer-hover:hover{
    color:#3181A6;
    text-decoration: underline;
}