.wrapper{
    background: rgba(0, 0, 0, 0.0001);
    box-sizing: border-box;
    width: 1280px;
    height: 1625px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif; ;
}
.header{
    width: 620px;
    height: 15px;
    margin-left: 330px;
    margin-top: 31.5px;
    padding-bottom: 25.5px;
}
.menu{
    display: flex;
    justify-content: space-between;
}
a{
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;  
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF0000;
}
.text-name{
    margin: 38px auto 48px;
    color: #373737;    ;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
.text{
    margin-bottom: 38px;
    color: #373737;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.btn{
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 18px 43px;
    margin-top: 28px;
    margin-bottom: 82px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.main-content{
    text-align: center;
}
.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1070px;
    height: 39px;
    margin: 0 105px 29px;
}
.left-footer {
    position: absolute;
    visibility: hidden;
    width: 382px;
    height: 16px;
    left: 0.5px;
    top: -41px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.right-footer{
    margin-left: auto;
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
}

